body{
    margin: 0;
}
h1{
    margin: 0;
    padding: 28px 0px;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(#363b3b,#5e667b,#373c3b);
}
div#total {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin: 0;
    padding: 24px 0px;
    padding-right: 5px;
}
.have-cash {
    border: 1px solid #dfdddd;
    padding: 10px 0px;
    font-size: 1px;
    border-radius: 100px;
    width: 118px;
    height: 34px;
    font-family: sans-serif;    
}
.have-cash[type='number']{
      font-size: 34px;
      text-align: center;
}
.have-cash[type=number]::-webkit-inner-spin-button, 
.have-cash[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6vh 0px;
    font-size: 4vh;
    font-weight: 100;
    background-color: #f0e3cd;
}
h3 > span{
    font-size: 6vh;
    padding: 0px 6px;
    color: #ed462f;
}
#items{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-image: linear-gradient(#363b3b,#5e667b,#373c3b);
}
.item-1{
    margin: 20px 0px 0px 0px;
}
.item-2{
    margin: 20px 0px 0px 8vh;
}
.item-3{
    margin: 20px 0px 0px 8vh;
}
h4{
    margin: 0;
    text-align: center;
    background-color: #346e34;
    color: #e9d8ac;
    padding: 10px 0px;
}
.fruit-1{
    padding: 0px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}
.fruit-2{
    padding: 0px 24px 10px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}
.fruit-3{
    padding: 0px 37px 10px 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}
.item-2 img{ 
    padding-top: 18px;
}
.item-3 img{ 
    padding-top: 19px;
}
h5{
    margin: 5px;
    font-size: large;
}
.app-quantity{
    width: 8vh;
    padding: 7px 0px;
    border: 1px solid;
    border-right-style: none;
    border-left-style: none;
    background-image: linear-gradient(#c8c7c7,#fdfdfd);
    text-align: center;
}
.org-quantity{
    width: 8vh;
    padding: 7px 0px;
    border: 1px solid;
    border-right-style: none;
    border-left-style: none;
    background-image: linear-gradient(#c8c7c7,#fdfdfd);
    text-align: center;
}
.ban-quantity{
    width: 8vh;
    padding: 7px 0px;
    border: 1px solid;
    border-right-style: none;
    border-left-style: none;
    background-image: linear-gradient(#c8c7c7,#fdfdfd);
    text-align: center;
}
.pick{
    display: flex;
    border-radius: 13px;
}
button.plus {
    border: 1px solid;
    padding: 7px;
    border-right-style: none;
    background-color: #3f4544;
    border-radius: 12px 0px 0px 12px;
}
button.minus {
    border: 1px solid;
    padding: 7px;
    border-left-style: none;
    background-color: #3f4544;
    border-radius: 0px 12px 12px 0px;
}
button.minus i{
    color: #ffffff;
}
button.plus i{
    color: #ffffff;
}
.foot{
    background: #e0ebe8;
    min-height: 17vh;
    padding-top: 13vh;
}
h6{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.foot p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: green;  
}
.app-quantity::-webkit-inner-spin-button, 
.app-quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.org-quantity::-webkit-inner-spin-button, 
.org-quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.ban-quantity::-webkit-inner-spin-button, 
.ban-quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media only screen and (max-width: 860px){
    #items{
        flex-direction: column;
        align-items: center;
    }
    .item-2 {
        margin: 20px 0px 0px 0px;
    }
    .item-3 {
        margin: 20px 0px 0px 0px;
    }
}